<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head th:replace="fragments.html :: head">
  </head>

  <body>

  <div th:replace="fragments.html :: nav-top"></div>
  <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
    가입을 먼저 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
  </div>
      <div class="main-container">

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div class="text-center d-flex align-items-center justify-content-center pt-5">
                <div>
                  <img alt="Empty State" src="/assets/img/empty-state.svg" class="w-50" style="opacity:.8" />
                  <span class="h3 d-block mt-3">Content Here</span>
                  <p>
                    Add your page content here
                  </p>
                  <a class="btn btn-primary btn-sm" href="pages-layouts.html">Back to Page Layouts</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script>

    <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

    <!-- Autosize - resizes textarea inputs as user types -->
    <script type="text/javascript" src="/assets/js/autosize.min.js"></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="/assets/js/flatpickr.min.js"></script>
    <!-- Prism - displays formatted code boxes -->
    <script type="text/javascript" src="/assets/js/prism.js"></script>
    <!-- Shopify Draggable - drag, drop and sort items on page -->
    <script type="text/javascript" src="/assets/js/draggable.bundle.legacy.js"></script>
    <script type="text/javascript" src="/assets/js/swap-animation.js"></script>
    <!-- Dropzone - drag and drop files onto the page for uploading -->
    <script type="text/javascript" src="/assets/js/dropzone.min.js"></script>
    <!-- List.js - filter list elements -->
    <script type="text/javascript" src="/assets/js/list.min.js"></script>

    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="/assets/js/theme.js"></script>

  </body>

</html>